@charset "UTF-8";
@import url('/css/blog.css');

.blg-article-images-thumbs{
  position: relative;
  width: 100%;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
}
.blg-article-images-thumbs > img{
  max-width: 342px;
  height: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center;
}
.blg-article-com-sec-avatar{
  position: relative;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.reply-commentary{
  margin: 0;
  padding: 0;
  border: 2px solid transparent;
  border-bottom-color: var(--base-color);
  color: var(--base-color);
  background-color: transparent;
  cursor: pointer;
  display: block;
}


/* ============================ Comentarios */
.input-comentario,
.textarea-comentario{
  color: var(--gray-400);
  border: 2px solid var(--gray-200) !important;
  font-weight: 300;
}
.input-comentario::placeholder,
.textarea-comentario::placeholder{
  color: var(--gray-300);
  font-weight: 300;
}
.input-comentario{
  height: 40px;
  width: 39%;
  margin: 0 .75rem;
  background: transparent;
  flex: auto;
  display: flex;
}
.input-comentario:last-of-type{
  margin-right: 0;
}
.form__group {
  flex: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.icone-comentario {
  cursor: pointer;
}
