.novaTag{
	float: left;
	width: 730px;
	padding-top: 30px;
}
.novaTag .salvar{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.listagemtags{
	width: 100%;
	float: left;
}

.tags{
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 2px solid #EAEAEA;
} 
 
.nameTag{
	float:left;
	width: auto;
}

.tags .box_ip{
	float: left;
	width: 30%; 
}

.tags .box_ip textarea{
	height: 80px; 
}

.deletetag{
	margin-left: 10px;
	float: left;
}